<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simurgh.prayertimes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="androidx.multidex.MultiDexApplication"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".home.HomeBaseActivity">

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".surah.SurahActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mosque.MosqueActivity" />
        <activity android:name=".library.BookActivity" />
        <activity android:name=".library.LibraryActivity">

        </activity>

        <receiver android:name=".NotificationService"/>

        <activity android:name=".names.NamesActivity"/>
        <activity android:name=".DisclaimerActivity"/>
        <activity android:name=".HelpActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".TestActivity">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBw86vZaWoH6oxuF7Y2H5L1-1Wrz7iEuFo"/>


    </application>

</manifest>