<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simurgh.prayertimes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".MosqueActivity" ></activity>
        <activity android:name=".BookActivity"></activity>

        <receiver android:name=".NotificationService"/>

        <activity android:name=".SurahActivity"/>
        <activity android:name=".NamesActivity"/>
        <activity android:name=".DisclaimerActivity"/>
        <activity android:name=".HelpActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBw86vZaWoH6oxuF7Y2H5L1-1Wrz7iEuFo"/>


    </application>

</manifest>